
        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}"> Navisha E-commerce Book Store </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                     
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>


                    {% if user.is_authenticated %}

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a></li>

                    {% else %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a></li>
                    
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a></li>

                    {% endif %}
                        
                     
                      
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'home'  %}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{%url 'category' 'Romance' %}">Romance</a></li>
                                <li><a class="dropdown-item" href="{% url 'category' 'Mythological' %}">Mythological </a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
      
                            <a href = "{% url 'cart_summary' %}" class = "btn btn-outline-dark ">   
                                <i class="bi bi-cart-fill"></i>
                                {% comment %} 
                                    Hello Madam like whenever you use Bootstrap icons you had to imporrt them before using to like thats what i was finding where should I imporrt like node ma to 
                                    npm kari direct download thai jaai Bootstrap, aama like first line jovo 1st line e tamari import karavse icons so whenever u use this so import that shit using link
                                    O=
                                    Okie Madam kai khabar na pade to message krjo nd baaki moj karo Dhyan rakhjo 3-4 divas em b garmi che to like joi lejo thodu okie 
                                    
                                    TATA aaram karje enjoii 

                                    like sleep ma nakhu chu laptop probably anydesk dk off karis to how behave karse to like mari side thi chalu hase to like online aai bandh kar deje 
                                
                                {% endcomment %}
                            Cart   
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </a>
                       
                    </form>
                </div>
                
            </div>
        </nav>